@{
	ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<h1>Locksmith Testing Demo App</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<h2>Rooms</h2>
		<p>A room contains doors</p>
		<p><a asp-area="" asp-controller="Room" asp-action="Index" class="btn btn-default">Edit Rooms &gt;</a></p>
	</div>
	<div class="col-md-6">
		<h2>Doors</h2>
		<p>A door is in a room and contains locks</p>
		<p><a asp-area="" asp-controller="Door" asp-action="Index" class="btn btn-default">Edit Doors &gt;</a></p>
	</div>
	<div class="col-md-6">
		<h2>Locks</h2>
		<p>A door contains locks</p>
		<p><a asp-area="" asp-controller="Lock" asp-action="Index" class="btn btn-default">Edit Locks &gt;</a></p>
	</div>
	<div class="col-md-6">
		<h2>Dashboard</h2>
		<p>Modify all the locks</p>
		<p><a asp-area="" asp-controller="Dashboard" asp-action="Index" class="btn btn-default">Dashboard &gt;</a></p>
	</div>
</div>
