@model List<Room>

@{
	ViewBag.Title = "Rooms";
}

<h2>@ViewBag.Title</h2>

<p>
	<a asp-controller="Room" asp-action="Create" class="btn btn-default">Create New</a>
</p>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Room Name</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				<a asp-controller="Room" asp-action="Edit" asp-route-id="@item.RoomId">@item.RoomId</a>
			</td>
			<td>
				@item.RoomName
			</td>
		</tr>
	}
</table>
